#up{
	
	margin-top: 18px;
	margin-left: 40px;

}
#gol{

	margin-top: 18px;
	margin-left: 130px;
}


#novo{

	font-size: 16px;
	 margin-left: 280px;
	font-family: verdana;
	color: black;
	
}

#novoss{

	font-size: 16px;
	 margin-left: 340px;
	font-family: verdana;
	color: black;
}

#sites{
	margin-left: 60px;
	margin-top: 75px;
	margin-right: 68px;
	
  border-radius: 10px 10px 10px 10px;

		background-color: lightgray;
}

#upbanner{
	margin-left: 100px;
	margin-right: 150px;
	margin-top: 25px;
	width: 85%;
	height: 350px;
	border-radius: 10px 10px 10px 10px;
	
}

#titulo{
	font-size: 30px;
	 color: #01b0ef;
	text-align: center;
	font-family: georgia;
}

#titulo12{
	font-size: 24px;
	font-family: georgia;
	 color: #01b0ef;
}

#toposs {
	    width: 1100px;
		border-bottom: 1px solid blue;
		margin-top: 20px;
	
}

#titulocarro{
	text-align: center;
	font-family: georgia;
	font-style: georgia;
	font-size: 20px;
}

#titulocarro1{
	text-align: center;
	font-family: georgia;
	font-style: georgia;
	font-size: 20px;
}

#alinhamento{
margin-left: 60px;
	margin-right: 40px;
	margin-top: 25px;
	width: 90%;
	
	border-radius: 10px 10px 10px 10px;
	}

#video{
margin-left: 180px;
position: center;

	}







#h9{
	font-family: verdana;
	font-style: verdana;
	font-size: 30px;
	margin-left: 450px;

}

#topicovideo{
	margin-left: 80px;
}

#footer1{

	background-color: lightgray;
	font-family: verdana;
	font-style: verdana;
}

#ulfooter{
	font-style: verdana;
	font-family: verdana;
	font-size: 14px;
}

#footer2{

	background-color: lightgray;
	font-family: verdana;
	font-style: verdana;
	margin-left: 100px;
	
  border-radius: 10px 10px 10px 10px;
	margin-right: 100px;
}

#fontfooter1{

	font-family: verdana;
	font-style: verdana;
	font-size: 18px;

  border-radius: 10px 10px 10px 10px;
}

#map1 {
  height: 200px;
  width: 95%;
   }

#footer3{
	background-color: lightgray;
	margin-left: 60px;

  border-radius: 10px 10px 10px 10px;
	margin-right: 62px;

}


 #empresatitulo{

 	font-style: georgia ;
 	font-family: georgia;
 	font-size: 30px;
 	margin-left: 450px;
    
}


#saiba{
	font-size: 20px;
	
}

#logoanos{
	width: 200px;
	height: 200px;
}











